/* font-faces */
@font-face {
    font-family: 'FFF_Tusj';
    src: url('fonts/FFF-Tusj/FFF_Tusj.ttf');
    font-weight: normal;
    font-style: normal;
}

/* reset */
html { 
	margin: 0 0 0 0;
}
body {
	margin: 0 0 0 0;
}

header {
	height: 100px;
	width: 100%;
	position: relative;
	margin: 20px 30px;
}


/* mainHeader */
.mainHeader img {
	float: left;
	height: 75px;
	width: 75px;
	margin: 30px 10px 0 50px;

}

.mainHeader h1 {
	float: left;
	font: 48px italic "FFF_Tusj", Georgia;
	margin: 10px 0 0 10px;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
}

/* mainBody */
[type="button"] {
	color: blue;
	background-color: #fdd;
	opacity: 0.7;
	font: 24px/32px bold Georgia;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius:8px;
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
}
.tweet-main {
	display: none;
}

.tweets .tweet-avatar {
	width: 30px;
	height: 30px;
}

/* mainFooter */
.mainFooter {
	position: relative;
	width: 100%;
	height: 10%;
	bottom: 10px;
	background-color: lightblue;
	margin: 0 0 0 0;

}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}