/* font-faces */
@font-face {
    font-family: 'FFF_Tusj';
    src: url('fonts/FFF-Tusj/FFF_Tusj.ttf');
    font-weight: normal;
    font-style: normal;
}

/* reset */
html { 
	margin: 0 0 0 0;
	font: 24/30px Georgia;
}
body {
	margin: 0 0 0 0;
}

header {
	height: 100px;
	width: 100%;
	position: relative;
	margin: 20px 30px;
}

/* general */
[type="button"] {
	color: blue;
	background-color: #fdd;
	opacity: 0.7;
	font: 24px/32px bold Georgia;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius:8px;
	-webkit-text-shadow: 1px 1px 1px blue;
	-moz-text-shadow: 1px 1px 1px blue;
	text-shadow: 1px 1px 1px blue;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	margin: 30px 120px;
}
[type="button"]:hover {
	color: red;
	background-color: pink;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

/* mainHeader */
#mainHeader {
	display:block;
	margin: 30px auto 50px auto;
	width: 400px;
}
.mainHeader img {
	float: left;
	height: 75px;
	width: 75px;
	margin: 30px 10px 0 50px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.mainHeader img:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

.mainHeader h1 {
	float: left;
	font: 48px italic "FFF_Tusj", Georgia;
	margin: 10px 0 0 10px;
	color: pink;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);
	-webkit-text-shadow: 2px 2px 3px #000;
	-moz-text-shadow: 2px 2px 3px #000;
	text-shadow: 2px 2px 3px #000;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s 'linear';
}
.mainHeader h1:hover {
	-webkit-transform: rotate(355deg);
	-moz-transform: rotate(355deg);
	transform: rotate(355deg);
}

/* mainBody */
.mainBody {
	margin: auto 20px;
}
.tweetForm {
	display: block;
	margin: 30px auto;
	width: 50%;
}
.tweetForm .myTweet {
	width: 80%;
	height: 30px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-align: center;
	font: 20px italic serif;
}
.tweetForm .sendTweet {
	margin:0;
}
.refreshButton {
	display: block;
	margin: 30px auto 10px auto;
	width: 30%;
}
.tweets {
	display: block;
	width: 80%;
	margin: 5px auto;
}
.tweets .tweet-avatar {
	width: 20%px;
	height: 60px;
	float: left;
	margin: 10px;
}
.tweets .userAndTime {
	width: 80%;
}
.tweets .tweet-user {
	float: left;
	font: 26px bold;
	margin: 5px 10px 5px 10px;
}
.tweets .tweet-time {
	margin: 5px 20px;
	float: right;
}
.tweets .tweet-message {
	float: left;
	font: 20px serif;
	margin: 10px 30px;
}
.tweets .tweet-main {
	border: 2px solid;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	background-color: #be8;
	opacity: .7;
	border-radius: 16px;
	margin: 10px 10px;
	height: auto;
	width: 100%;
	display: none;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform: 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
.tweets .tweet-main:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
	opacity: .9;
}
/* mainFooter */
.mainFooter {
	position: relative;
	width: 100%;
	height: 10%;
	bottom: 10px;
	background-color: lightblue;
	margin: 0 0 0 0;

}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}